@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

body {
  font-family: 'Gilda Display', serif;
  background-color: #D8D1AE;
  color: #715100;
}